<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.android.mybudget">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_purse"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.OPENABLE"/>

                <action android:name="android.intent.action.SEND_MULTIPLE"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/html"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityCategory"
            android:label="Categories"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ActivityTransaction"
            android:label="Transaction"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".ActivityAccounts"
            android:label="Accounts"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ActivityFilter"
            android:label="Filter"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ActivityDateFilter"
            android:label="Date Filter"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".ActivityRecurring"
            android:label="Recurring Activities"
            android:parentActivityName=".MainActivity">
        </activity>
        <provider
            android:name=".data.BudgetProvider"
            android:authorities="com.example.android.mybudget"
            android:exported="false"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <receiver android:name=".BudgetReceiver"/>
        <receiver android:name=".NotificationResult"/>

    </application>

</manifest>